{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block main %}


<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Notes Website</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Create your notes, save  and share publicaly. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex tenetur ipsam quas beatae amet odio, eum ad optio officia omnis in itaque suscipit! Eos ea nihil quas aliquam atque dolor!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Get Started</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>

{% endblock %}